@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default, cupcake;
}
.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
